.counter{
  height: 40vh;
  width: 40vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
}
p
{
  font-size: 48px;
}
button
{
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 15px;
  margin: 20px;
}